// Remy function
@function remy($value) {
  @return ($value / 16px) * 1rem;
}

@font-face {
  font-family: "shapiro-regular";
  src: url("fonts/sharpiro-regular.woff2") format("woff2");
}

@font-face {
  font-family: "shapiro-bold";
  src: url("fonts/sharpiro-bold.woff2") format("woff2");
}

@font-face {
  font-family: "uniform-medium";
  src: url("fonts/uniform-pro-con-medium.woff2") format("woff2");
}

body {
  font: 100% / 1.414 "Open Sans", "Roboto", arial, sans-serif;
  background: #e9e9e9;
}
a,
[type="submit"] {
  transition: all 0.25s ease-in;
}

.form-control {
  width: auto;
}

.signup__container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: remy(800px);
  height: remy(480px);
  border-radius: remy(3px);
  box-shadow: 0px remy(3px) remy(7px) rgba(0, 0, 0, 0.25);
  height: 500px;
  width: 800px;
}
.signup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffb591;
}
.container__child {
  width: 50%;
  height: 100%;
  color: #fff;
}
.signup__thumbnail {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.thumbnail__logo,
.thumbnail__content,
.thumbnail__links {
  position: relative;
  z-index: 2;
}
.thumbnail__logo {
  align-self: flex-start;
}
.logo__shape {
  fill: #fff;
}
.logo__text {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  vertical-align: bottom;
}
.thumbnail__content {
  align-self: center;
}

h2 {
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}

.heading--primary {
  font-size: 1.999rem;
  font-family: "shapiro-bold", sans-serif;
}
.heading--secondary {
  font-size: 1.414rem;
  font-family: "shapiro-regular", sans-serif;
}
.thumbnail__links {
  align-self: flex-end;
  width: 100%;
}
.thumbnail__links a {
  font-size: 1rem;
  color: #fff;
  &:focus,
  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }
}
.signup__form {
  padding: 2.5rem;
  background-image: url("background.JPG");
  padding-top: 15%;
}
label {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #e3e3e5;
}
.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  &:focus {
    border-color: #111;
  }
}
[type="text"] {
  // color: rgb(206, 121, 121);
  background-color: white;
  width: 400px;
}

[type="password"] {
  color: #111;
}
.btn--form {
  padding: 0.5rem 2.5rem;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  border-radius: remy(35px);
  &:focus,
  &:hover {
    background: lighten(#111, 13%);
  }
}
.signup__link {
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999;
  &:focus,
  &:hover {
    color: darken(#999, 13%);
  }
}

.signup__form {
  overflow: scroll;
  width: 650px;
}

#signiflyform-form input,
#signiflyform-form select {
  background-color: white;
  // width: unset;
  cursor: pointer;
}

.form-group,
h5 {
  color: #e3e3e5;
  font-size: 20px;
  font-family: "uniform-medium", sans-serif;
}

.container__child .signup__form {
  width: 900px;
  background-color: #ffc3a4;
}

input.form-control.top {
  width: 400px;
}

.form-group.bottom {
  display: grid;
  margin: 0px 0 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: flex-start;
  align-items: center;
}

.btn-primary {
  color: #fff;
  background-color: #ffb591;
  border-color: #ffb591;
  font-family: "uniform-medium", sans-serif;
  margin-top: 5vh;
}

#btn {
  display: flex;
  justify-content: center;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0px 0 0;
}

.fa-youtube-play:before,
.fa-instagram:before,
.fa-twitter:before {
  font-size: 21px;
}

img {
  width: 21px;
}

img {
  &:focus,
  &:hover {
    opacity: 70%;
    transition: all 0.25s ease-in;
  }
}

.thumbnail__links a {
  font-size: 3rem;
  color: #fff;
}

.thank-you {
  font-size: 16px;
  padding: 20px;
  z-index: +1;
  color: blueviolet;
}

#headline {
  position: absolute;
  top: -100%;
  left: 46%;
  background-color: #dffcdf;
}

h1 {
  font-size: 5rem;
  letter-spacing: 1vh;
  font-family: "shapiro-bold";
}
