// Remy function
@function remy($value) {
  @return ($value / 16px) * 1rem;
}

@font-face {
  font-family: "shapiro-regular";
  src: url("fonts/sharpiro-regular.woff2") format("woff2");
}

@font-face {
  font-family: "shapiro-bold";
  src: url("fonts/sharpiro-bold.woff2") format("woff2");
}

@font-face {
  font-family: "uniform-medium";
  src: url("fonts/uniform-pro-con-medium.woff2") format("woff2");
}

a,
[type="submit"] {
  transition: all 0.25s ease-in;
}

.form-control {
  width: auto;
}

.signup__container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: remy(800px);
  height: remy(480px);
  border-radius: remy(3px);
  box-shadow: 0px remy(3px) remy(7px) rgba(0, 0, 0, 0.25);
  height: 500px;
  width: 800px;
}
.signup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 30%;
}

.signup__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/background_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container__child {
  width: 50%;
  height: 100%;
  color: #fff;
}
.signup__thumbnail {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.thumbnail__logo,
.thumbnail__content,
.thumbnail__links {
  z-index: 2;
}
.thumbnail__logo {
  align-self: flex-start;
}
.logo__shape {
  fill: #fff;
}
.logo__text {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  vertical-align: bottom;
}
.thumbnail__content {
  place-self: flex-end;
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 300;
  color: #ffc3a4;
  font-size: 1.2rem;
  font-family: "uniform-medium";
  text-align: center;
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
  font-family: "uniform-medium";
  font-weight: 10;
  text-align: center;
}

.thumbnail__links {
  align-self: flex-end;
  width: 100%;
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5vh;
}

.thumbnail__links a {
  font-size: 1rem;
  color: #fff;
  &:focus,
  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }
}
.signup__form {
  background-image: url("background.JPG");
  padding-top: 5%;
  padding-left: 5%;
}
label {
  font-size: 1rem;
  text-transform: uppercase;
  color: #e3e3e5;
}
.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  &:focus {
    border-color: #111;
  }
}
[type="text"] {
  background-color: white;
  width: 400px;
}

.signup__form {
  overflow: scroll;
  width: 650px;
}

#signiflyform-form input,
#signiflyform-form select {
  background-color: white;
  cursor: pointer;
  padding: 1.5%;
  box-shadow: 3px 3px 3px black;
}

.form-group,
h5 {
  color: #e3e3e5;
  font-size: 20px;
  font-family: "uniform-medium", sans-serif;
  margin-bottom: 2vh;
}

.container__child .signup__form {
  width: 900px;
  background-color: #ffc3a4;
}

input.form-control.top {
  width: 350px;
  margin-top: 0.6vh;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.form-group.bottom {
  display: grid;
  margin: 0px 0 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: flex-start;
  align-items: center;
}

.btn-primary {
  color: #fff;
  background-color: #ffb591;
  border-color: #ffb591;
  font-family: "uniform-medium", sans-serif;
  margin-top: 5vh;
  cursor: pointer;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0px 0 0;
}

.fa-youtube-play:before,
.fa-instagram:before,
.fa-twitter:before {
  font-size: 21px;
}

img {
  width: 21px;
}

img {
  &:focus,
  &:hover {
    opacity: 70%;
    transition: all 0.25s ease-in;
  }
}

.thumbnail__links a {
  font-size: 3rem;
  color: #fff;
}

.thank-you {
  z-index: +1;
  color: white;
  font-family: "shapiro-bold";
  padding-top: 7vh;
  font-size: 0.9em;
}

#btn {
  padding-bottom: 50px;
  margin-right: 9%;
  display: flex;
  justify-content: center;
}

#headline {
  position: relative;
}

#headline h1 {
  color: #c0f9c3;
  font-size: 2.2rem;
  letter-spacing: 0.3vh;
  font-family: "shapiro-bold";
  text-shadow: 2px 2px 8px black;
}

body {
  background-image: url("/background.png");
  background-size: cover;
}

.png {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

//Animation//

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
  color: #ffb591;
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.hide {
  display: none;
}

:root {
  --heading-color: 20 100% 82%;
}

h2 {
  font-size: 2rem;
  line-height: 1.125;
  text-transform: uppercase;
}

h2 > span {
  display: inline-block;
  white-space: break-spaces;
  -webkit-text-stroke: 1px hsl(var(--heading-color));
  color: hsl(var(--heading-color));
  animation: fill 0.5s calc(var(--index) * 0.02s + 1s) cubic-bezier(0.645, 0.045, 0.355, 1) both;
  will-change: transform, color;
  transform-origin: 0 0;
}

@keyframes fill {
  from {
    opacity: 0;
    transform: translateX(2rem) scale(1.2);
    transform: translateX(min(var(--index) * 1rem, 4rem)) scale(1.2);
    color: hsl(var(--heading-color) / 0);
  }
  35% {
    opacity: 1;
  }
  50% {
    color: hsl(var(--heading-color) / 0);
  }
}

html {
  height: 100%;
}

@media (hover: hover) {
  button:hover {
    --bg: var(--primary-color);
    --hover-text: #16152b;
  }
}

//Submit button vibrates//

.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
